#demo-container,
#linear-canvas {
  height: 400px;
  width: 700px;
}

.center {
  display: block;
  margin: 0 auto;
}

.space-above {
  margin-top: 100px;
}

.borders {
  border: 1px solid #eee;
}

.shadow {
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
}